.logos {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
}

.image {
  margin-top: -20px;
  height: 60px;
  margin-left: -18px;
}

.image2 {
  margin-top: 6px;
  margin-left: 10px;
  height: 30px;
}

.title {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  font-weight: bold;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 2em;
  color: whitesmoke;
  padding-top: 2px;
}

.toolbar {
  height: 2.5em;
  -webkit-user-select: none;
}
