:host {
  position: fixed;
  height: 2.5em;
  background-color: whitesmoke;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: black;
  z-index: 9999;
}

.copyright {
  position: absolute;
  display: inline;
  right: 10px;
  margin-top: 10px;
}

.actions {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
